body {
    background-color: #ebebeb;
}

.innerWindow {
    width: 736px;
    margin: 0 auto 100px;
    background-color: #ffffff;
    text-align: center;
    padding: 108px 0 88px 0;
}

.innerWindow-confirm {
    width: 736px;
    margin: 230px auto 100px;
    background-color: #ffffff;
    text-align: center;
    padding: 108px 0 88px 0;
}

.innerWindow,
.innerWindow-confirm {
    box-shadow: 0px 0px 6px #00000029;
}

.innerWindow fieldset {
    border: none;
    width: 336px;
    margin: 0 auto;
    padding: 0;
}

.beingConfirmed {
    margin: 79px 0 40px;
}

.beingConfirmed p {
    text-align: center;
    font: normal normal bold 19px/26px sans-serif;
    letter-spacing: 1.52px;
    color: #707070;
    opacity: 0.6;
    line-height: 37px;
}

.error-message {
    text-align: left;
    font: normal normal normal 13px/18px sans-serif;
    letter-spacing: 1.04px;
    color: red;
    margin: 7.5px 0 0;
    /* line-height: 26px; */
}

.beingConfirmed .endTime,
.beingConfirmed .seat {
    font: normal normal bold 15px/20px sans-serif;
    letter-spacing: 1.2px;
}

.beingConfirmed .seat {
    line-height: 37px;
}

.beingConfirmed-confirm {
    margin: 0 0 73px;
}

.beingConfirmed-confirm p {
    text-align: center;
    color: #707070;
}

.beingConfirmed-confirm .title {
    font: normal normal bold 18px/24px Noto Sans;
    letter-spacing: 1.44px;
    margin: 0 0 22px;
}

.beingConfirmed-confirm .date {
    font: normal normal bold 17px/23px Noto Sans;
    letter-spacing: 1.36px;
    margin: 0 0 24px;
}

.beingConfirmed-confirm .endTime {
    font: normal normal bold 15px/20px sans-serif;
    letter-spacing: 1.2px;
}

.beingConfirmed-confirm .seat {
    font: normal normal bold 19px/26px sans-serif;
    letter-spacing: 1.52px;
    margin: 0 0 22px;
}

.beingConfirmed-confirm .price {
    font: normal normal bold 20px/27px sans-serif;
    letter-spacing: 1.6px;
    margin: 0 0 23px;
}

.beingConfirmed-confirm .discount {
    font: normal normal bold 13px/18px Noto Sans;
    letter-spacing: 1.04px;
    color: #f5aa00;
}

.inner-box {
    width: 208px;
    margin: 0 auto 42px;
    text-align: left;
}

.inner-box p.input-p {
    font: normal normal 600 13px/18px sans-serif;
    letter-spacing: 1.04px;
    color: #707070;
    margin: 0 0 16px;
}

.inner-box div.input-radio {
    display: flex;
    justify-content: space-between;
    font: normal normal bold 17px/23px sans-serif;
    letter-spacing: 1.36px;
    color: #707070;
}

.inner-box div.input-radio label {
    display: flex;
    width: 60px;
    justify-content: space-between;
    align-items: baseline;
}

.inner-box select[name="type"] {
    height: 24px;
}

.inner-box .input-text {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.inner-box input[type="text"] {
    margin: 0 3px 0 0;
}

.inner-box input[name="year"] {
    width: 48px;
    height: 18px;
}

.inner-box input[name="month"],
.inner-box input[name="day"] {
    width: 32px;
    height: 18px;
}

fieldset div:nth-child(3) {
    margin-bottom: 56px;
}

.inner-box p.text-by {
    font: normal normal 600 15px/20px sans-serif;
    letter-spacing: 1.2px;
    color: #707070;
    margin: 0 10px 0 0;
}

.innerWindow .buttons {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 336px;
    height: 48px;
    margin: 0 auto;
}

.innerWindow a.cancel {
    width: 128px;
    background: #efefef 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000014;
    border: none;
    font: normal normal normal 16px/22px sans-serif;
    letter-spacing: 0.44px;
    color: #707070;
    line-height: 48px;
}

.innerWindow button.submit {
    width: 192px;
    background: #f5ae0b 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000015;
    margin: 0;
    padding: 0;
    font: normal normal normal 16px/22px sans-serif;
    letter-spacing: 0.44px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.innerWindow a:hover,
.innerWindow button:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.innerWindow-confirm .buttons {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 336px;
    height: 48px;
    margin: 0 auto;
}

.innerWindow-confirm a.cancel {
    width: 128px;
    background: #efefef 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000014;
    border: none;
    font: normal normal normal 16px/22px sans-serif;
    letter-spacing: 0.44px;
    color: #707070;
    line-height: 48px;
}

.innerWindow-confirm button.submit {
    width: 192px;
    background: #f5ae0b 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000015;
    margin: 0;
    padding: 0;
    font: normal normal normal 16px/22px sans-serif;
    letter-spacing: 0.44px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.innerWindow-confirm a:hover,
.innerWindow-confirm button:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}
